body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;

}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
    margin: auto;
}

.images {
    display: block;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
    color: #404bbf;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

/* header logo */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}



/* header contacts */
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* section one */
.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: auto;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    align-items: center;

    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
}

.hero-button {
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    border: none;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}


/* section two */
.section-feature {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-list-item {
    width: calc((100% - 72px) / 3);
}

.container-icon {
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.feature {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* section three */

.team-page {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list-item {
    background-color: #fff;
    width: calc((100% - 72px) / 3);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item:hover {
    transform: scale(1.1);
}



.team-list-neme {
    padding-top: 32px;
    padding-bottom: 32px;

}

.team-feature-heading {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-feature-title {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-list-icon {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 40px;

}

.team-icon {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover {
    background-color: #404bbf;
}

.team-icon-link:focus {
    background-color: #404bbf;
}



/* section four */

.section-our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-images {
    position: relative;
    overflow: hidden;
}

.portfolio-image-title {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-image-title {
    transform: translateY(0%);
}

.portfolio-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* .portfolio-title:hover {
    transform: scale(1.1);
} */

/* footer */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0px 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;

}

.footer-logo {
    margin-right: 120px;
}

.logo-header-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    fill: #4d5ae5;
}

.logo-header-logo:hover {
    fill: #31d0aa;
}

.logo-part-header {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}

.page-footer-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;

}


.footer-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}



.footer-images-link {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.footer-images-link:hover {
    background-color: #31D0AA;
}

.footer-images-link:focus {
    background-color: #31D0AA;
}

.footer-list-icon {
    display: flex;
    gap: 16px;

}

.footer-list-icon:focus {
    fill: #31D0AA;
}

.footer-images {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-page-icon {
    fill: #f4f4fd;

}

.footer-email-input {
    margin-left: auto;
}

.footer-input-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.email-input {
    width: 453px;
    height: 80px;
    display: flex;
    gap: 24px;
}

.form-input-email {
    width: 264px;
    height: 40px;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}

.input-email-title {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

}

.input-email-title::placeholder {
    color: #ffffff;
}

.input-button {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.input-button-svg {
    margin-left: 16px;
    fill: #fff;
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e7e9fc;
    stroke-width: 1px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);


}

.modal-button:hover {
    background-color: #404bbf;
    border: none;
}

.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-icon-close,
.modal-button:focus .modal-icon-close {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

/* form-modal */

.form-modal-field {
    margin-bottom: 8px;
}

.form-modal-ladel {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-modal-input {
    position: relative;
}

.modal-input-field {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:focus {
    border-color: #4D5AE5;
}

.modal-icon-icons {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 18px;
    height: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:focus~.modal-icon-icons {
    fill: #4D5AE5;
}

.form-modal-comment {
    margin-bottom: 16px;
}

.form-comment-text {
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    resize: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-text:focus {
    border-color: #4D5AE5;
}

/* checkbox */

.form-modal-checkbox {
    margin-bottom: 24px;
}

.form-checkbox-ladel {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-ladel-span {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.visually-hidden:checked~.form-checkbox-ladel .checkbox-ladel-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox-ladel-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.form-modal-btn {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 16px;
    flex-direction: row;
    display: block;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}